<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" media="all" href="/static/css/ets.css" type="text/css">
    </head>
    <body>
        <div id="ets-graph"></div>
    </body>
    <script type="text/javascript">
        // Currently, we just output a single file.
        // This global var is the data object we need to render the tree chart
        const rawData = [{{rawData}}]
    </script>
    <script type="text/javascript" src="/static/js/ets.js"></script>
</html>
